.two-columns {
  display: flex;
}

.left-column {
  flex: 0 0 40%;
  /*margin-right: 50px;*/
  /*padding: 20px;*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*overflow: scroll;*/
}

.right-column {
  flex: 1;
}